html{
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #1D262C;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-skip: ink;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
    -ms-overflow-style : -ms-autohiding-scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
